<div class="center jumbotron">
  <h2>Edit Page</h2>
</div>



<% if @todo.errors.any? %>
  <h3>The following errors prevented the todo from being saved</h3>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "todos/form" %>

<p>
  <%= link_to "Back to Index", todos_path %>
</p>