<div class="center jumbotron">
  <h2>Create an New Todo</h2>
</div>


<% if @todo.errors.any? %>
  <h3>The following errors prevented the todo from being saved</h3>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render "todos/form" %>

