<div class="center jumbotron">
  <h2>Showing A Todoo</h2>
</div>



<p>
  Name: <%= @todo.name %>
</p>
<br />
<p>
  Description: <%= @todo.description %>
</p>
 
 <p>
  <%= link_to "Edit This Todo", edit_todo_path(@todo) %> |
  <%= link_to "Back to Index", todos_path %>
</p>